.card {
  width: 90%;
  min-width: 90%!important;
  position: relative;
}
.card .title {
  font-size: .9rem;
}
.card .subtitle, .subtitle {
  font-size: .75rem;
  font-weight: 300;
}
.card .layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(2px);
}
.card-wrapper {
  overflow: scroll;
}
.card-wrapper::-webkit-scrollbar {
  display: none;
}
.saved {
  background: rgba(0, 0, 0, .5);
  width: 30px;
  height: 30px;
  backdrop-filter: blur(2px);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}
.saved-card {
  height: 70px;
  width: 100%;
  background-position: center;
  position: relative;
}
.saved-layer {
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}