/* Utilities */
* {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
body {
  background: #FFFFFF;
  padding-bottom: 1rem;
}
footer {
  font-weight: 300;
}
:root {
  --bg-orange: #FA9151;
}
.bg-orange, .btn-orange {
  background: var(--bg-orange);
}
.text-orange {
  color: var(--bg-orange);
}
.bg-orange-sm {
  background: #EFAC84;
}
::placeholder, input[type=text] {
  font-size: .6rem!important;
}
.sct-title {
  font-size: .1.1rem;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.font-xsm {
  font-size: .45rem!important;
}
.font-sm {
  font-size: .65rem!important;
}
.font-md {
  font-size: .8rem!important;
}
.hero {
  width: 100px;
  height: 100px;
}
.subtitle {
  font-size: .75rem;
  font-weight: 300;
}
.title {
  font-size: .9rem;
}
.list-style-none li {
  list-style: none;
}
.recipe-card {
  width: 47%;
  border-radius: 8px;
  line-height: .95rem;
}
.btn-effect {
  transition: .3s;
}
.btn-active {
  transition: .3s;
  background: #CA761B!important;
}
.break-word {
  word-wrap: break-word!important;
}
.btn-effect:active {
  backdrop-filter: opacity(1) brightness(2);
}
.link:active {
  color: salmon!important;
}

[data-role=delete-button] {
  width: auto;
  background: rgba(0, 0, 0, .5);
  right: 5px;
  top: 5px;
  backdrop-filter: blur(4px);
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.none-scrollbar::-webkit-scrollbar{
  display: none!important;
}